<span class="buscaAutor item"> 
    <label for="autores"> Autores: </label> 
    <input type="text" name="autores" id="autores" >
    <div><button class="button" type="submit" onclick="onClickPesquisa()">Pesquisar</button></div>
    <div class="popup" id="popup">
        <div>
            <form id="form-pesquisa-autor">
                <div style="display: flex; flex-direction: row;">
                    <input type="text" name="pesquisa" id="pesquisa" placeholder="Pesquise o Autor">
                    <div><button class="button" type="submit" onclick="pesquisarPopup(event)" >Pesquisar</button></div>
                </div>
            </form>
            <table style="margin-top: 10px; color: black;" id="table-autor-pesquisa">
                <tr>
                    <td>&ZeroWidthSpace; &ZeroWidthSpace;</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="fundo-popup" id="fundo-popup">
        
    </div>
</span>

<script>
    let popup = document.getElementById("popup")
    let body = document.getElementById("fundo-popup")
    let inputPesquisa = document.getElementById("pesquisa")

    function onClickPesquisa(){
        popup.classList.add("open-popup")
        body.classList.add("fundo-desfoque")
    }
    async function pesquisarPopup(event){
        event.preventDefault()
        console.log(event)
        
        var hrefTemplate = Handlebars.compile(`{{href}}`)
        var hrefAPI = hrefTemplate({})

        var tableAutor = document.getElementById("table-autor-pesquisa")

        while(tableAutor.firstChild){
            tableAutor.firstChild.remove()
        }

        const valorPesquisa = inputPesquisa.value

        console.log(valorPesquisa)

        const response = await fetch(`${hrefAPI}?pesquisa=${valorPesquisa}`)
        const usuarios = await response.json()

        console.log(usuarios)

        if(usuarios.length > 0) {
            usuarios.map((usuario) => {
                console.log(usuario)
                var tableRow = document.createElement('tr')
                tableRow.innerHTML = `<td>${usuario.idUsuario}</td><td>${usuario.nome}</td><td>${usuario.email}</td>`
                tableAutor.appendChild(tableRow)
            })
        }else{
            tableAutor.innerHTML = `<tr><td>Nenhum resultado encontrado</td></tr>`
        }


    }

    function pesquisaAutor(event){
        event.preventDefault()
        console.log(event)
    }

</script>