<span class="buscaAutor item"> 

    <div class="container">    
        <label for="autores"> Autores: </label> 
        <input type="text" name="autores" id="autores" >
        <input type="button" value="Pesquisar" onclick="onClickPesquisa()">
        <div class="popup">
            <p>teste</p>
            <button type="button" onclick="fecharPopup()">Fechar</button>
        </div>
    </div>

</span>

<script>
    function onClickPesquisa(e){
        e.preventDefault()

    }
</script>