<nav>
    <h1>SciRank</h1>
    <ul class="menu">
        <li>
            <a>Cadastro</a>
            <ul class="submenu">
                <li><a>Artigo</a></li>
                <li><a>Usuario</a></li>
            </ul>
        </li>
        <li><a>Gerenciar</a></li>
        <li><a>Sobre</a></li>
    </ul>
    <span>menu</span>
</nav>