<nav>
    <h1><a href="/">SciRank</a></h1>
    <ul class="menu">
        <li>
            <a>Cadastrar</a>
            <ul class="submenu">
                {{#if session.isAdmin}}
                    <li><a href="/usuario/create">Usuario</a></li>
                {{/if}}
                <li><a href="/artigo/create">Artigo</a></li>
            </ul>
        </li>
        <li>
            <a>Listar</a>
            <ul class="submenu">
                {{#if session.isAdmin}}
                    <li><a href="/usuario/listAll">Usuario</a></li>
                {{/if}}
                <li><a href="/artigo/list">Artigo</a></li>
            </ul>
        </li>
        {{#if session.isAdmin}}
            <li><a href="/artigo/publicar">Publicar</a></li>
        {{/if}}
    </ul>
    <span class="material-symbols-outlined"><a href="/login/logout">Logout</a></span>
</nav>