logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

build/Release

node_modules/
jspm_packages/

web_modules/

*.tsbuildinfo

.npm

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.cache
.parcel-cache

.next
out

.cache/

.temp
.cache

.serverless/

.dynamodb/

.vscode-test