<!DOCTYPE html>​
<html>
<head>​
    <title>SciRank</title>​
</head>​
<body>​
    <center> ​
        <h1> SciRank </h1>​
        <h2> Sistema de gerenciamento e avaliações de artigos científicos</h2>​
        <br><br>​
        {{{body}}}​
    </center>​
</body>​
</html>