<html>
<head>
    <title>SciRank</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
        <div id="login">
        <div id="glass">
            <h1>SciRank</h1>
            <h2>Sistema de gerenciamento e avaliações de artigos científicos</h2>
            <br><br>
            {{{body}}}
        </div>
    </div>
</body>
</html>