body {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #161617;
    color: #fff;
    background-image: url("../assets/bg.png");
    background-size: cover;
    background-position: center;
}

.fundo-popup{
    width: 100%;
    height: 100vh;
    background: #000000;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #000000;
    z-index: 1;
    visibility: hidden;
}

.fundo-desfoque{
    background-color: #00000050;
    backdrop-filter: blur(1px);
    visibility: visible;
}

:root {
    --color-primary: #4b6aff;
}

/* Login INICIO */

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#glass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 10px;
    background-color: #343950;
}

.button {
    width: 100%;
    height: 22px;
    border: none;
    outline: none;
    color: #000000;
    background: #d4d4d4;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.button:active {
    color: #d4d4d4
}

.button:active:after {
    background: transparent;
}

.button:hover:before {
    opacity: 1;
}

.button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #d4d4d4;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.input-text {
    border-radius: 2px;
    border:transparent;
}

/* Login INICIO */




/* Menu INICIO */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0;
    background-color: #343950;
}

 nav > :is(h1, span) {
    width: 80px;
    height: 34px;
    place-items: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

nav > span {
    cursor: pointer;
}

nav h1 {
    background-color: #101338;
    border-radius: 8px;
    font-size: 16px;
}

nav span {
    color: #fff;
    font-size: 20px;
}

input[type=button]{
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

a:visited {
    text-decoration: none;
    color: #fff;
}

table{
    width: 100%;
}

table, td, tr {
    border: 1px solid #c7c7c7;
}

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 70px;
}

.menu li {
    display: inline-block;
    width: 80px;
    color: #999;
    transition: all 0.3s ease-in-out;
}

.menu li:hover .submenu{
    height: 85px;
}

.menu li:hover > a{
    color: #fff;
}

.menu li:hover > a::before{
    visibility: visible;
    scale: 1 1;
}

.submenu {
    overflow: hidden;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    background-color: var(--color-primary);
    height: 0;
    line-height: 40px;
    box-sizing: border-box;
    transition: height 0.3s ease-in-out;
}

.menu li .submenu a {
    color: #fff;
    opacity: 0;
    transition: opacity 0.25s;
}

.menu > li:hover .submenu a {
    opacity: 1;
}

.menu > li .submenu a:hover {
    background: rgb(0 0 0 / 20%);
}

.menu > li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 7px;
    text-decoration: none;
    position: relative;
    height: 100%;
    transition: 0.3s;
}

.menu > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 3px;
    left: 0px;
    background-color: var(--color-primary);
    transition: all 0.2s ease-in-out;
    scale: 0 0;
    visibility: hidden;
}

/* Menu FIM */


/* artigoCreate */

.artigoCreate{
    margin: auto;
    width: 80%;
    border: 1px solid #c7c7c7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artigoCreate .item{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 8px;
}

.artigoCreate .btn input{
    margin-bottom: 8px; 
}

.artigoCreate .item input{
    width: 70%;
    border-radius: 5px;
}
.artigoCreate .item label{
    width: 10%;
    text-align: right;
    margin-right: 5px;
}

/* /artigoCreate */

/* popup */

.buscaAutor .popup{
    width: 70%;
    height: 60vh;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.buscaAutor .popup #form-pesquisa-autor{
    margin-top: 8px ;
}

.buscaAutor .open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 2;
    border: 1px solid #000000;
}

#form-pesquisa-autor{
    width: 100%;
}

/* /popup */