<div class="artigoCreate">
    <form id="formArtigoCreate" action="/artigo/create" method="post"> </form>
    <span class="item"> <label for="titulo"> Titulo: </label> <input form="formArtigoCreate" type="text" name="titulo" id="titulo"></span>
    <span class="item"> <label for="senha"> Resumo: </label> <input form="formArtigoCreate" type="text" name="senha" id="senha"></span>
    <span class="item"> <label for="link"> Link: </label> <input form="formArtigoCreate" type="text" name="link" id="link"></span>
    {{> buscarAutor href=options.hrefTemplate }}
    <span class="item" style="background-color: #fff;">
        <table>
            <tr>
                <td>&ZeroWidthSpace; &ZeroWidthSpace;</td>
            </tr>
        </table>
    </span>
    <span class="btn"> <input onClick="ClickedCadastrar" type="button" value="Cadastrar"> </span>
</div>


<script>
    function ClickedCadastrar(event){
        event.preventDefault()
    }
</script>