<form action="/login" method="post">
    <div style="text-align: center;margin-bottom:10px;">Login</div>
    <input class="input-text" type="text" name="usuario" id="usuario">
    <div style="text-align: center;margin:10px;">Senha</div>
    <input class="input-text" type="password" name="senha">
    <br><br>
    <button style="margin-top:10px;" class="button" type="submit">Logar</button>
</form>