<div class="bodyUsuario">
    <div class="usuarioCreate">
        <form class="form" action="/usuario/create" method="post">
            <div class="form-header">
                <div class="title">
                    <h1>Cadastro de Usuário</h1>
                </div>
            </div>
            <div class="input-group">
                <div class="input-box">
                    <label for="nome">Nome</label>
                    <input id="nome" type="text" name="nome" required>
                </div>
                <div class="input-box">
                    <label for="usuario">Usuário</label>
                    <input id="usuario" type="text" name="usuario" required>
                </div>
                <div class="input-box">
                    <label for="senha">Senha</label>
                    <input id="senha" type="password" name="senha" required>
                </div>
                <div class="input-box">
                    <label for="email">E-mail</label>
                    <input id="email" type="email" name="email" required>
                </div>
            </div>
            <div class="tipo-inputs">
                <div class="tipo-title">
                    <h6>Tipo de Usuário</h6>
                </div>
                <div class="tipo-group">
                    <div class="tipo-input">
                        <input type="radio" id="autor" name="tipousuario" value="0" checked>
                        <label for="autor">Autor</label>
                    </div>
                    <div class="tipo-input">
                        <input type="radio" id="administrador" name="tipousuario" value="1">
                        <label for="administrador">Administrador</label>
                    </div>
                    <div class="tipo-input">
                        <input type="radio" id="avaliador" name="tipousuario" value="2">
                        <label for="avaliador">Avaliador</label>
                    </div>
                </div>
            </div>
            <div class="continue-button">
                <button class="button">Salvar</button>
            </div>
        </form>
    </div>
</div>