<div class="usuarioCreate">
    <form action="/usuario/create" method="post">
        <div class="form-header">
            <div class="title">
                <h1>Cadastro de Usuário</h1>
            </div>
        </div>
        <div class="input-group">
            <div class="input-box">
                <label for="firstname">Nome</label>
                <input id="firstname" type="text" name="firstname" required>
            </div>
            <div class="input-box">
                <label for="username">Usuário</label>
                <input id="username" type="text" name="username" required>
            </div>
            <div class="input-box">
                <label for="password">Senha</label>
                <input id="password" type="password" name="password" required>
            </div>
            <div class="input-box">
                <label for="email">E-mail</label>
                <input id="email" type="email" name="email" required>
            </div>
        </div>
        <div class="tipo-inputs">
            <div class="tipo-title">
                <h6>TIpo de Usuário</h6>
            </div>
            <div class="tipo-group">
                <div class="tipo-inputs">
                    <input type="radio" id="autor" name="tipousuario">
                    <label for="autor">Autor</label>
                </div>
                <div class="tipo-inputs">
                    <input type="radio" id="administrador" name="tipousuario">
                    <label for="autor">Administrador</label>
                </div>
                <div class="tipo-inputs">
                    <input type="radio" id="avaliador" name="tipousuario">
                    <label for="autor">Avaliador</label>
                </div>
            </div>
        </div>
        <div class="continue-button">
            <button class="button">Salvar</button>
        </div>
    </form>
</div>